<div class="row mt ptxxl">
  <div class="medium-8 large-6 columns medium-centered">
    <h2 class="text-center mbxl">
      <strong>BRIMIR</strong>
    </h2>
    <p class="text-center">
      <a href="https://slack.com/oauth/authorize?scope=identity.basic,identity.email,identity.team,identity.avatar&client_id=2329094327.95002376389"><img alt="Sign in with Slack" height="40" width="172" src="https://platform.slack-edge.com/img/sign_in_with_slack.png" srcset="https://platform.slack-edge.com/img/sign_in_with_slack.png 1x, https://platform.slack-edge.com/img/sign_in_with_slack@2x.png 2x" /></a>
    </p>
  </div>
</div>
